@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Open Sans", sans-serif;

      .nav{
background-color: rgb(1, 1, 26);
color: white;
}
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}


.nav-house{
  width: 26px;
  height: 26px;
  font-size: 10px;
 align-items: center;
 vertical-align: middle;
}

.line-text{
    text-align: center;
    font-size: 12pxx;
    
}

.nav-line1{
    padding-left: 100px;
}

.nav-line2{
    text-align: center;
    font-size: 16px;
}

.nav-search{
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.nav-container{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 50px;

}

.Logo{
  align-items: top;
  width: 80px;
  height:40px;
}